.footer {
    background-color: #245852;
    padding-left: 14.32%;
    padding-right: 14.32%;
    padding-top: 105px;
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;


}

.footer__logo {
    width: 110px;
    padding-bottom: 30px;
}

.footer__list {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.footer__item {
    margin-top: 25px;
}