.product-block {
    padding-left: 16.75%;
    padding-right: 16.75%;
    padding-top: 120px;
    padding-bottom: 120px;
}
.product-block__main-image {
    
}
.product-block__member-card {

}
.product-block__member-card-title {

}
.product-block__line {

}
.product-block__member-image {

}
.product-block__member-name {

}
.product-block__name-list {

}
.product-block__list {

}
.product-block__info {

}
.product-block__pretitle {

}
.product-block__title {

}
.product-block__text {

}
.product-block__button {

}